
/* Sections */
#HYD_0             { background-image: url(../images/Dollar_Assets_V01_00000.png); }
#HYD_1             { background-image: url(../images/Dollar_Assets_V01_00001.png); }
#HYD_1.HYD__active { background-image: url(../images/Dollar_Assets_V01_00007.png); }
#HYD_2             { background-image: url(../images/Dollar_Assets_V01_00002.png); }
#HYD_2.HYD__active { background-image: url(../images/Dollar_Assets_V01_00008.png); }
#HYD_3             { background-image: url(../images/Dollar_Assets_V01_00003.png); }
#HYD_3.HYD__active { background-image: url(../images/Dollar_Assets_V01_00009.png); }
#HYD_4             { background-image: url(../images/Dollar_Assets_V01_00004.png); }
#HYD_4.HYD__active { background-image: url(../images/Dollar_Assets_V01_00010.png); }
#HYD_5             { background-image: url(../images/Dollar_Assets_V01_00005.png); }
#HYD_5.HYD__active { background-image: url(../images/Dollar_Assets_V01_00011.png); }
#HYD_6             { background-image: url(../images/Dollar_Assets_V01_00006.png); }
#HYD_6.HYD__active { background-image: url(../images/Dollar_Assets_V01_00012.png); }

/* Preload images, TODO: sprite */
body:after {
    display: none;
    content: url(../images/Dollar_Assets_V01_00001.png)
             url(../images/Dollar_Assets_V01_00007.png)
             url(../images/Dollar_Assets_V01_00002.png)
             url(../images/Dollar_Assets_V01_00008.png)
             url(../images/Dollar_Assets_V01_00003.png)
             url(../images/Dollar_Assets_V01_00009.png)
             url(../images/Dollar_Assets_V01_00004.png)
             url(../images/Dollar_Assets_V01_00010.png)
             url(../images/Dollar_Assets_V01_00005.png)
             url(../images/Dollar_Assets_V01_00011.png)
             url(../images/Dollar_Assets_V01_00006.png)
             url(../images/Dollar_Assets_V01_00012.png);
}

.HYD {
    position: relative;
}

.HYD__layer {
    width: 600px;
    height: 900px;
    background-size: 1200px;
    background-position: -300px -450px;
}

.HYD__section {
    position: absolute;
    top: 0;
    left: 0;
}

.HYD__map {
    position: absolute;
    top: 0;
    left: 0;
}

.HYD__map-image {
    opacity: 0;
}

.HYD__hidden {
    display: none;
}
